.button {
  width: 180px;
  margin: 5px 15px 15px 0;
  background-color: #0069CA;
  border-color: #0069CA;
  align-self: end;
}

.white {
  background-color: white;
  color: #548bc2;
}

.white:hover {
  background-color: #8dbad6;
}
