@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

// hopefully fixes image stretch on some browsers
.mosaic > * img {
  width: 100%;
}

.mosaic {
  display: grid;
}

.twoWide {
  columns: 2;
  grid-row-gap: 15px;
  grid-column-gap: 6%;
  padding: 10px 6%;
}

.threeWide {
  columns: 3;
  column-gap: 5%;
  padding: 10px 5%;
}

.fourWide {
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 8px;
  grid-column-gap: 6%;
  padding: 0 20px;
}

.fiveWide {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-row-gap: 10px;
  grid-column-gap: 1.5%;
  padding: 0 8px;
}

.sixWide {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-row-gap: 10px;
  grid-column-gap: 1.5%;
  padding: 0 8px;
}

@include media-breakpoint-down(lg) {
  .sixWide {
    grid-template-columns: repeat(5, auto);
  }
}

@include media-breakpoint-down(md) {
  .fiveWide, .sixWide {
    grid-template-columns: repeat(3, auto);
  }

  .large {
    grid-template-columns: auto auto;
    columns: 2;
  }
}

@include media-breakpoint-down(sm) {
  .fiveWide, .sixWide {
    grid-template-columns: auto auto;
  }

  .threeWide {
    columns: 1;
  }

  .twoWide {
    columns: 1;
  }

  .sixWide {
    grid-column-gap: 7%;
  }

  .large {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@include media-breakpoint-down(xs) {
  .fiveWide, .sixWide {
    grid-template-columns: auto;
    justify-content: center;
  }
}
