.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #64ab8a;
  color: white;

  padding: 40px 90px 50px;
  font-size: 18px;
}

.footer a {
  display: block;
  color: #f3f3f3;
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.contact {
  max-width: 250px;
}

.logo, .socials {
  margin-bottom: 20px;
}

.socials * {
  color: white;
}

.socials svg {
  position: relative;
  color: #dfdfdf;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.socials a {
  margin: 0 10px;
  border-radius: 50%;
  background-color: #346da7;

  display: inline-block;
  width: 50px;
  height: 50px;
}

.grouping {
  width: max(140px, auto);
  margin: 0 5px;
}

.grouping:first-of-type {
  margin-right: 15px;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  margin: 10px 0;
}
