.ICImage {
    max-width: 380px;
    max-height: 264px;
    border-radius: 6px;
    object-fit: cover;
}

.ICBody {
    max-width: 379px;
    max-height: 350px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #000000;
}

.ICTitle {
    max-width: 407px;
    max-height: 89px;
    margin-top: 30px;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #000000;
}
