.linkedIn {
  font-size: 20px;
  font-family: 'Sofia Pro Medium';
  line-height: 31.04px;
  letter-spacing: 0.05em;
}

.linkedInLogo {
  font-size: 13px;
  padding: 5px 5px 2px 5px;
  margin-right: 0.3em;
  border-radius: 4px;
  color: white;
  background-color: #2867B2;
  letter-spacing: 0;
  vertical-align: middle;
}
