.card {
  max-width: 299px;
  float: left;
}

.memberName {
  font-size: 23px;
  line-height: 35.58px;
  margin: 10px 0 5px 0;
  font-weight:400;
  letter-spacing: 0.05em;
}

.memberTitle {
  font-size: 20px;
  font-style: italic;
  line-height: 30.94px;
  margin: 0 0 5px 0;
  color: #777878;
  font-weight:400;
  letter-spacing: 0.05em;
}
