.card {
  overflow: hidden;
  position: relative;

  height: 300px;
  width: auto;
  max-width: 300px;
  margin: 0 auto 30px; /* must be bottom margin for columns */

  border: solid 1px rgba(200, 200, 200, .6);
  border-radius: 4px;
}

.full {
  max-width: 100%;
  height: 520px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px 10px 0;
}

.stretch {
  height: calc(100% - 120px);
}

.squeeze {
  height: calc(100% - 290px);
}

.subtitle {
  margin: 1px 0 0;
  font-style: italic;
}

.blurb {
  margin: 3px 0 6px;
}
