.sidebar {
  background-color: #DEE9F3;
}

.sidebar h3 {
  background-color: #0053A0;
  color: #FFFFFF;
  cursor: pointer;
}

.sidebar h3:hover {
  text-decoration: underline;
}

.sidebar a, .sidebar a:hover {
  color: black;
}

.sidebar > * {
  padding: 8px;
}

.year {
  margin-bottom: 30px;
}

.year:last-of-type {
  margin: 0;
}

.year > a {
  display: block;
  margin-bottom: 3px;
}
