.card {
  border: none;
}

.cardInfo > * {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.subheading {
  font-size: 14px;
}

.socialIcon {
  height: 20px;
  width: 20px;
}
